.weatherDataCont {
    color:#fff;
}

.weatherExtraInfoCont {
    width: 50%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
    vertical-align: sub;
}

.weatherExtraInfoCont__text {
    display: block;
}

.weatherTemperatureCont {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: sub;
}

.wicon {
    color: #ffaa33;
}

